@import "~bootstrap/dist/css/bootstrap.min.css";

.row {
  border-radius: 36px 36px 36px 36px !important;
  -webkit-border-radius: 36px 36px 36px 36px !important;
  -moz-border-radius: 36px 36px 36px 36px !important;
}

#promedios {
  background: rgb(119, 49, 208);
  background: linear-gradient(
    0deg,
    rgba(119, 49, 208, 1) 0%,
    rgba(153, 98, 222, 1) 50%,
    rgba(119, 49, 208, 1) 100%
  );
  border-radius: 36px 36px 36px 36px;
  -webkit-border-radius: 36px 36px 36px 36px;
  -moz-border-radius: 36px 36px 36px 36px;
}

#promedio {
  width: 175px;
  height: 175px;
  margin-top: 75px;
  margin-left: 125px;
  background: rgb(111, 26, 219);
  background: linear-gradient(
    180deg,
    rgba(111, 26, 219, 1) 0%,
    rgba(152, 97, 221, 1) 75%
  );
}

#media {
  font-size: 55px;
}

input {
  width: 70px !important;
  height: 30px !important;
}

#prueba {
  justify-content: space-between;
}

.btn {
  border: none;
  margin-bottom: 5px;
  width: 30em;
  height: 3em;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1c1a1c;
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #aaaaaa;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #aaaaaa;
  font-size: medium;
}

.btn:hover {
  background: linear-gradient(0deg, #a47cf3, #683fea);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2), 0px 0px 180px 0px #9917ff;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.2);
}
